TELEGRAM_BOT_TOKEN=ton_token_botfather_ici
GROQ_API_KEY=ta_cle_groq_ici
NOTION_API_KEY=ta_cle_notion_ici
EODHD_API_KEY=ta_cle_eodhd_ici
FINNHUB_API_KEY=ta_cle_finnhub_ici
NOTION_TRANSACTIONS_DB_ID=ton_id_de_base_transactions
